html,
body {
	height: 100%;
}

.form-signin {
	max-width: 330px;
	padding: 1rem;
}

.form-signin .form-floating:focus-within {
	z-index: 2;
}

#floatingInputFirst,
#floatingInputLast {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

#floatingInputLast {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

#floatingEmail {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

#mail {
	width: auto;
	height: fit-content !important;
}

#submitResult {
	background-color: rgba(0, 0, 0, 20%);
	border-radius: 0.375rem;
	text-align: center;
	color: rgb(12, 183, 12);
}
