.card {
	--bs-card-border-width: 0;
	background-color: maroon;
}

html * {
	background-color: maroon;
}

@media (max-width: 600px) {
	h1 {
		color: black;
		font-weight: 900;
		text-align: center;
		font-size: 3.2rem;
	}

	h5 {
		text-align: center;
		color: black !important;
		font-weight: 700;
		font-size: 1.4rem;
	}
}

@media (min-width: 600px) {
	h1 {
		color: black;
		font-weight: 900;
		text-align: center;
		font-size: 3.5rem;
	}

	h5 {
		text-align: center;
		color: black !important;
		font-weight: 700;
		font-size: 2rem;
	}
}

@media (min-width: 900px) {
	h1 {
		color: black;
		font-weight: 900;
		text-align: center;
		font-size: 3.8rem;
	}

	h5 {
		text-align: center;
		color: black !important;
		font-weight: 700;
		font-size: 3rem;
	}
}

.card img {
	align-self: center;
	border-radius: 10%;
	width: 70%;
	height: auto;
}

.cardImgWrapper {
	align-items: center;
	text-align: center;
	width: 40vw;
}
