html {
  font-size: 20px;
  font-family: "Oswald";
  background-color: rgb(8, 42, 58);
}

body {
  margin: 30px auto;
  padding: 0 20px 20px 20px;
  width: 800px;
  text-align: center;
  background-color: #e7c2ff;
  border: 5px solid white;
  border-radius: 25px;
  color: blueviolet;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  text-shadow: 3px 3px 1px pink;
}

p,
ol {
  font-size: 20px;
  text-align: center;
  line-height: 2;
  letter-spacing: 1px;
}

.done {
  color: rgb(192, 45, 121);
  text-decoration: line-through solid darkred 2px;
}

img {
  display: block;
  padding: 0 20px 20px 20px;
  margin: 0 auto;
  max-width: 80%;
}
