.poppins-thin {
	font-family: "Poppins", sans-serif;
	font-weight: 100;
	font-style: normal;
}

.poppins-extralight {
	font-family: "Poppins", sans-serif;
	font-weight: 200;
	font-style: normal;
}

.poppins-light {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-style: normal;
}

.poppins-regular {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.poppins-medium {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: normal;
}

.poppins-semibold {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-style: normal;
}

.poppins-bold {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.poppins-extrabold {
	font-family: "Poppins", sans-serif;
	font-weight: 800;
	font-style: normal;
}

.poppins-black {
	font-family: "Poppins", sans-serif;
	font-weight: 900;
	font-style: normal;
}

.poppins-thin-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 100;
	font-style: italic;
}

.poppins-extralight-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 200;
	font-style: italic;
}

.poppins-light-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-style: italic;
}

.poppins-regular-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: italic;
}

.poppins-medium-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: italic;
}

.poppins-semibold-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-style: italic;
}

.poppins-bold-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-style: italic;
}

.poppins-extrabold-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 800;
	font-style: italic;
}

.poppins-black-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 900;
	font-style: italic;
}

html {
	background-color: antiquewhite;
}

h1 {
	font-size: 5rem;
	text-align: center;
}

.priceTable {
	display: flex;
	justify-content: space-evenly;
	margin: 0 10%;
}

.priceTable > div {
	background-color: white;
	flex-basis: 30%;
	border-radius: 20px;
}

h2 {
	font-size: 2.5rem;
	margin: 0 0;
	padding: 0.5rem;
	padding-top: 2rem;
}

.BronzeBg {
	text-align: center;
	color: white;

	background: #b08d57;
	background: linear-gradient(
		144deg,
		rgba(176, 141, 87, 1) 16%,
		rgba(205, 116, 50, 1) 69%
	);
}

.Top {
	border-radius: 20px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.line {
	border-top: 0.2rem solid white;
	height: 0.5rem;
	margin: 0 0;
	padding: 0 0;
	margin-left: 10%;
	margin-right: 10%;
}

.Top p {
	font-size: 0.8rem;
	padding: 2rem;
	padding-top: 0.5rem;
	margin: 0 0;
}

.BronzeCard {
	color: #b08d57;
}

.SilverCard {
	color: rgba(150, 150, 150, 1);
}

.GoldCard {
	color: #d3af37;
}

.GoldBg {
	text-align: center;
	color: white;

	background: #d3af37;
	background: linear-gradient(
		324deg,
		rgba(211, 175, 55, 1) 16%,
		rgba(223, 189, 105, 1) 77%
	);
}

li {
	padding: 0 0;
	margin: 0 1.5rem;
	padding-top: 2rem;
}

.Button {
	font-size: 1.5rem;
	border-radius: 20px;
	margin: 2rem 25%;
	padding: 0.5rem;
}

.priceCard {
	margin: 0 0;
	margin-bottom: 2rem;
}

.SilverBg {
	text-align: center;
	color: white;

	background: #d1d1d1;
	background: linear-gradient(
		144deg,
		rgba(209, 209, 209, 1) 16%,
		rgba(150, 150, 150, 1) 77%
	);
}

@media (max-width: 600px) {
	h1 {
		font-size: 3rem;
	}

	.priceTable {
		display: flex;
		flex-direction: column;
		margin: 0 5%;
		align-items: center;
	}

	.Top > h2 {
		font-size: 2rem;
		padding-top: 1rem;
	}

	.priceCard li {
		padding: 0.4rem 0;
		font-size: 0.8rem;
	}

	.Top > p {
		padding: 1rem;
		padding-top: 0.5rem;
	}

	.Button {
		font-size: 1.2rem;
		margin: 1rem 25%;
		padding: 0.5rem;
	}
}
